<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Speech Care">
    <title>Speech care | Online Stuttering Therapy: Effective Treatment for Adults & Children </title>
 

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawsom-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/slider/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/slider/css/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/custom.css') }}" />

</head>

<body>


    <!-- ################# Header Starts Here#######################--->
    <header id="menu-jk">

        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <img class="logo" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="">
                        <a id="colleps" data-toggle="collapse" data-target="#menu" href="#menu"
                            data-bs-toggle="collapse" data-bs-target="#menu"><i
                                class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/#services">Services</a></li>
                            <li><a href="/#about_us">About Us</a></li>
                            <li><a href="/#contact_us">Contact Us</a></li>
                            <li><a href="/#Social">Social</a></li>
                            <li><a target="_blank" href="{{ url_for('Tutorial') }}">Tutorial</a></li>
                            <li><a href="{{ url_for('Assessment') }}">Assessment</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                        <a href="https://www.facebook.com/speechcare.in" target="_blank"><i
                                class="fab fa-facebook fa-2x" id="icon"></i></a>
                        <a href="https://www.instagram.com/speechcare.in?igsh=MWtvNGdreTJ4ZWh6Zw==" target="_blank"><i
                                class="fab fa-instagram fa-2x ml-2" id="icon"></i></a>
                        <a href="tel:+919311125459" target="_blank"><i class="fab fa-whatsapp fa-2x ml-2"
                                id="icon"></i></a>
                        <a href="https://www.youtube.com/@speechcare." target="_blank"><i
                                class="fab fa-youtube fa-2x ml-2" id="icon"></i></a>

                    </div>

                </div>
            </div>
    </header>

    <a href="https://api.whatsapp.com/send?phone=+919311135459&text=Hello%2C%20I%27m%20interested%20in%20your%20therapy."
        class="fixed-button whatsapp-button">

        <i class="fab fa-whatsapp fa-2x"></i>
    </a>


    <main>
        <header class="bg-primary text-white text-center py-5">
            <h1>Welcome to My Blog</h1>
            <p>Sharing thoughts, ideas, and stories!</p>
        </header>
        <div class="container mt-5">
            <div class="row">
                <!-- Example Blog Post 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Online speech therapy for stuttering</h5>
                            <p class="card-text">Enhancing communication skills from...</p><br>
                            <a href="{{ url_for('show_blog_post', param='Online_speech_therapy_for_stuttering') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 2 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering treatment online</h5>
                            <p class="card-text">Expert guidance via virtual sessions professional therapists....</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_treatment_online') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 3 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Virtual stuttering therapy</h5>
                            <p class="card-text">Connecting you with professional therapists online virtual sessions...</p>
                            <a href="{{ url_for('show_blog_post', param='Virtual_stuttering_therapy') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 4 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering disorder therapy / Online stuttering speech therapy</h5>
                            <p class="card-text">Tailored support for managing stuttering challenges...</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_disorder_therapy_Online_stuttering_speech_therapy') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 5 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Speech therapy for stuttering disorder</h5>
                            <p class="card-text">Targeted interventions for improved fluency...</p>
                            <a href="{{ url_for('show_blog_post', param='Speech_therapy_for_stuttering_disorder') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 6 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering treatment at home</h5><br>
                            <p class="card-text">Convenience meets progress Navigating speech challenges....</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_treatment_at_home') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Example Blog Post 7 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering management online</h5>
                            <p class="card-text">Navigating speech challenges through digital platforms...</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_management_online') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 8 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Online stuttering support</h5>
                            <p class="card-text">Community and guidance just a click away...</p><br>
                            <a href="{{ url_for('show_blog_post', param='Online_stuttering_support') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 9 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering therapy sessions online</h5>
                            <p class="card-text">Structured sessions for lasting results...</p><br>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_therapy_sessions_online') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 10 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Affordable stuttering therapy</h5>
                            <p class="card-text">Quality care without breaking the bank...</p><br>
                            <a href="{{ url_for('show_blog_post', param='Affordable_stuttering_therapy') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 11 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering therapy for adults</h5>
                            <p class="card-text">Addressing speech concerns at any age...</p><br>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_therapy_for_adults') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 12 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering therapy for children</h5>
                            <p class="card-text">Building confidence in young communicators...</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_therapy_for_children') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Example Blog Post 13 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Professional stuttering treatment</h5>
                            <p class="card-text">Expertise that makes a difference...</p><br>
                            <a href="{{ url_for('show_blog_post', param='Professional_stuttering_treatment') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 14 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Effective stuttering therapy online / Stuttering disorder</h5>
                            <p class="card-text">Transforming speech patterns virtually....</p>
                            <a href="{{ url_for('show_blog_post', param='Effective_stuttering_therapy_online_Stuttering_disorder_online_consultation') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 15 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering therapy  programs Personalized</h5>
                            <p class="card-text">Personalized advice from specialists...</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_therapy_programs_Personalized') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 16 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Personalized stuttering treatment</h5>
                            <p class="card-text">Customized plans for smoother speech..</p>
                            <a href="{{ url_for('show_blog_post', param='stuttering_treatment') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 17 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Stuttering speech therapist</h5>
                            <p class="card-text">Guiding you toward clearer communication...</p>
                            <a href="{{ url_for('show_blog_post', param='Stuttering_speech_therapist') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Example Blog Post 18 -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assets/images/image.png') }}">
                        <div class="card-body">
                            <h5 class="card-title">Online stuttering therapy in India</h5>
                            <p class="card-text">Bridging gaps in speech fluency...</p>
                            <a href="{{ url_for('show_blog_post', param='Online_stuttering_therapy_in_India') }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>


    <!-- ################# Footer Starts Here#######################--->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        At SpeechCare, we’re passionate about hearing health. Our licensed audiologists blend expertise
                        with compassion, ensuring personalized care for every patient. Our mission? To improve lives
                        through better hearing and balance health.
                    </p>
                    <p>Whether you’re seeking diagnostics, rehabilitation,
                        or preventive services, we’re here for you. Join our community, where diversity, ethical
                        standards, and patient-centered care intersect. Visit us at (your clinic address) or call (your
                        phone number) to embark on your hearing health journey together! 🌟12
                    </p>
                </div>

                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="#about_us">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="#contact_us">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        Email: <a href="mailto:support@speechcare.in" class="">support@speechcare.in</a><br>
                        <section id="Social">
                            Web: <a href="speechcare" class="">www.speechcare.in</a><br>
                            <span>
                                <a href="https://www.facebook.com/speechcare.in" target="_blank"><i
                                        class="fab fa-facebook fa-4x ml-1" id="icon"></i></a>
                                <a href="https://www.instagram.com/speechcare.in?igsh=MWtvNGdreTJ4ZWh6Zw=="
                                    target="_blank"><i class="fab fa-instagram fa-4x ml-3" id="icon"></i></a>
                                <a href="tel:+919311125459" target="_blank"><i class="fab fa-whatsapp fa-4x ml-3"
                                        id="icon"></i></a>
                                <a href="https://www.youtube.com/@speechcare." target="_blank"><i
                                        class="fab fa-youtube fa-4x ml-3" id="icon"></i></a>
                            </span>
                    </address>

                </div>
            </div>
        </div>
        </section>

    </footer>
    <div class="copy">
        <div class="container">
            <a href="https://www.mandeep-developer.site/">2024 &copy; All Rights Reserved | Designed and Developed by
                Developer</a>

            <span>
                <a href="https://www.mandeep-developer.site/" target="_blank"><i class="far fa-user-circle"></i></a>
                <a href="https://github.com/Mannu258" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/Mannu_258" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/mandeep-mishra-843378223/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </span>
        </div>

    </div>

</body>
<script src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/scroll-nav/js/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/scroll-nav/js/scrolling-nav.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>


</html>